@model IEnumerable<StudentManagement.Models.TeacherDetails>

@{
    ViewData["Title"] = "Teachers";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Add</a>
</p>
<table class="table" id="myTable">
    <thead>
        <tr>
            <th>Name</th>
            <th>Department</th>
            <th>Phone Number</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var teacher in Model)
        {
            <tr>
                <td>@teacher.Name</td>
                <td>@teacher.Department</td>
                <td>@teacher.PhoneNumber</td>
                <td>@teacher.Email</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@teacher.Id" class="btn btn-warning"><i class="fa-regular fa-pen-to-square"></i></a>
                    <a asp-action="Details" asp-route-id="@teacher.Id" class="btn btn-secondary"><i class="fa-solid fa-circle-info"></i></a>
                    <a asp-action="Delete" asp-route-id="@teacher.Id" class="btn btn-danger"><i class="fa-solid fa-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
